html {
    font-family: 'Titillium Web', sans-serif; /*titillium web:stä haettiin href:iin*/
    overflow-x: hidden;/*Overflow-x-ominaisuus määrittää, leikataanko sisältö, lisätäänkö vierityspalkki vai näytetäänkö lohkotason elementin 
                         ylivuodon sisältö, kun se ylivuotetaan vasemmassa ja oikeassa reunassa hidden piilottaa. Hetkellä ei ole viel ollut käyttöä tälle.*/
}

body {
    /*background-color: sandybrown;   /*väri kyllä muuttu*/
    /*background-image:url('kuva/tausta.png');   /*Ei toimi,*/
    color: #000;/*keudan logon alla oleva otsikko Ammatinvalintatesie on väriltään musta*/
    font-style: normal; /*Tekstin tyyli*/
    font-size: 1rem; /*tekstin koko ja tekstin alla viiva, jännä rem*/
    line-height: 1,5; /*Rivin korkeus bodyssä*/
    
}

.answer {
    padding-right: 20px; /*Vastaus nappien(kuvien)väli*/
}

.answer:hover { /*Vastaus nappien stailaus*/
    opacity: 50%;/*Ominaisuus opacity määrittää elementin peittävyystason, eli miten paljon kyllä nappi himmenee kun hiiri osuu sen päälle.*/
}

header { /*Pää*/
    /*background-image: url('kuvat/tausta.jpg'); /*muuten ihan jees, mut kuva ei toimi logon takana*/
    /*width: 80%; /*Jotta logo ja suosikki olisivat samassa sarakkeessa niinsanotusti ammatinvalintatestinkaa*/
    /*padding-right: 15px;
    padding-left: 15px;*/
    width: 80%;/*Pitää logoa ja linkkia tuossa kohdassa 100% jos on alkavat vasemmalta*/
    margin-right: auto;/*Pitää niinsanotusti keskellä,jos ei olisi olisi oikealla puolella*/
    margin-left: auto;/*Jos ei olisi olisi vasemmalla puolella*/
    position: relative;/*Pitää Löydä opiskeluala kohtaa siinä kohdassa*/
    /*z-index: -1;*//* Jos olisi kuva minkä päälle haluaa jättää tekstin näkyviin,eli sijoittaa kvan tekstin taakse,meillä taas on poksi tehty kuvan
                        päälle, siksi eimme tarvitse tätä*/
}

.container { /*Sisältää ammatinvalintatestistä alaspäin alueen,eli ovat kontissa*/
    width: 80%;/*Pitää logon alla olevaa tekstiä myös siinä kohdassa kun on,sama ku headerissa.*/
    padding-right: 15px;
    padding-left: 50px;
    margin-right: auto; /*Pitää niinsanotusti keskellä,jos ei olisi olisi oikealla puolella*/
    margin-left: auto; /*Jos ei olisi olisi vasemmalla puolella*/
    position: relative;/*Pitää Löydä opiskeluala kohtaa siinä kohdassa*/
    /*z-index: 1;  Eli monetena on pinossa, niinkuin hamppari*/
}
/*.backpic1{ 
    background-image: url('kuvat/tausta.png');
    background-repeat: no-repeat;
    background-size: cover;
}  Ei toimi*/

.backpic { /*kontin sisällä saniaiskuva*/
    width: 100%;/*Saniais kuvan koko*/
    /*display: blox; /*block; tämäkin toimisi (Näyttölohko)*/
    /*margin:0 auto; on jo asetettu .container kohdassa, mutta jos haluaa alkaa leikkii kuvalla sillon juu*/
    margin-top: -20px; /*Saniais kuvan koko mihin asti ylettyy ylöspäin  */
}

h2 { /*Ammatinvalintatesti kohta*/
    border-top: 2px solid #00801A;/*Ammatinvalintatestistä ylä viivä*/
    border-bottom: 2px solid #00801A;/*Ammatinvalintatestistä ala viivä*/
    padding: 7px 5px 10px 3px; /*Täyte luo ylimääräistä tilaa elementin sisään, kun taas marginaali lisää tilaa elementin ympärille. yläpehmusta
                                 oikea täyte, alaosan pehmuste ja vasen täyte 3px*/
}

.description-block {/*"Löydä opiskeluala:"n boksi tai sinneppäin*/
    position: absolute; /*esim: fixed; pysäyttäisi tämän boksin ja muu teksti liikuisi kun rullaa ylös alas, absolute asettaa boksin kuvan 
                         päälle paikoille ja yläosaan*/
    /*background-image: url('kuvat/tausta.jpg'); Ei toimi oikein*/                    
    z-index: 1;/*Jotta tää boksi olisi kuvan päällä ja tänä display: none; piilottaisi sen jos haluaisi just toimia toisin päin*/
    /*margin: 0 auto; määritetty jo .container:ssa */
    text-align: center;/*Teksti keskitetty*/
    top: 20%; /*ylös alas siirtely, px:nä olisi 150px*/
    background:#fff; /*boksin sisällä taustaväri*/
    color: #000;/*Tee Keud..teksti väri musta*/
    width: 50%; /*Poikittain boksin koon,miten pitkäksi haluat */
    border-top: 3px solid #00801A;/*boksin yläreuna vihreä viiva*/
    border-bottom: 3px solid #00801A;/*boksin ala viiva*/
    font-size: 18px; /*Tee keud...tekstin koko*/
    font-weight: bold;/*Lihavoitu teksti*/
    
}

h3 { /*On: <h3 class="description-color">Löydä opiskeluala</h3>*/
    font-size: 36px; /*tekstin koko*/
}

.description-color { /*Löydä opiskelualan teksti*/
    color: #00801A; /*teksti vihreä*/
}

.begin {/*tämä kohta<div><button id="startbutton" class="begin" onclick="start()">Aloita testi </button></div> indexsissä=Aloita testi nappi*/
    font-family: 'Titillium Web', sans-serif; 
    background-color: #00801A;/*Aloita testi napin väri*/
    /*width: 25%; /*Poikittain miten pitkäksi haluat aloita testin nappi, oli aluksi mutta muutettiin min-widtheniksi*/
    min-width: 25%; /*Siksi, että jos/kun näyttöä pienentää taikka katsoo puhelimesta niin näyttö näyttää hyvälta*/
    border: 5px; /*solid #00801A;/*Aloita testin nappulan koko ja solid #00801A; voi myös määrää värin*/
    border-radius: 25px;/*Pyöristää aloitus napin reunat*/
    font-weight: bold;/*Aloitus napin teksti lihavoitu*/
    padding: 3px 3px;/*Aloitus napin koon muuttaminen*/
    color: #fff;/* Aloita testin napin tekstin perus väri*/
    font-size: 18px;/*Aloitus testin tekstin koko koko*/
    letter-spacing: 0,5px;/*Muuttaa aloitus nappin kirjainten etäisyyttä toisistaan*/
    margin-bottom: 12px; /*Muuttaa poksin alaosaa, eli venyy alaosan alas*/
    cursor: pointer; /*Muutta hiiren nuolen sormeksi*/
}

.tryAgainButton {/*Kokeile uudelleen nappi, sama kuin esim:Aloita testi napin säädöt osa on mukana vaikka eivät vaikuta mihinkään*/
    font-family: 'Titillium Web', sans-serif;
    background-color: #00801A;
    /*width: 45%; /**/
    min-width: 25%;/* */
    border: 1px solid #00801A;
    border-radius: 25px;/*Pyöristää napin reunat*/
    font-weight: bold;
    padding: 3px 3px;
    color:#fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 38px;
    /*padding-right: 20px; /viimeisessä sivulla kokeile uudelleen tekstiä sais liikutettuaan napin sisällä*/
    margin-left: 50px;/*tämä ajaa saman työn kun padding-right: 20px; */
    cursor: pointer; /*Mahdollistaa kursorin ulkoasun hallinnan elementissä*/
}

.linkbutton { /*lopussa oleva Lue nappi mikä ammatti tuli vastaukseksi, ja samoija stailauksia kuin muillakin */
    font-family: 'Titillium Web', sans-serif;
    background-color: white;/*taustaväri*/
    min-width: 35%; /*Koolta mini eli kapea poikittain oleva nappi*/
    border: 2px solid #00801A; /* orange;*/ /*reunat ja teksti vihreenä ja reunan koko*/
    border-radius: 25px; /*Pyöristää napin reunat*/
    font-weight:bold; /*Eli miten hehkuu tai näkuu napin sisällä oleva teksti voit sen vaikka säätää 700:si*/
    padding: 3px 10px 3px 10px;
    color: #00801A; /*Napin teksti väri*/
    
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 38px;
    cursor: pointer;
}

.begin:hover, .tryAgainButton:hover, .linkbutton:hover { /*Aloitus nappi ja testin lopussa olevat nappien stailaus*/
   opacity: 50%; /*Ominaisuus opacity määrittää elementin peittävyystason, eli miten paljon Aloita testi nappi himmenee kun hiiri osuu sen 
                 päälle.*/
   color:black; /*Aloita teksti muuttaa väriä kun meet hiirellä sen päälle taikka klikkaat. Muuten pysyy valkoisena,kuten .begin:ssä 
                       määritit siellä värin*/
}

#question-base { /*Tämä kohta: <div id="question-base">  indexsissä*/
    display: none;/*Ilman tätä näkymätöntä kohtaa jäisivät kysymys 1/9 näkyviin "Löydä opiskelualan boksiin" */
    margin-bottom: 35px;/*kysymysten ja kylla,ei kuvien alapuolen väli*/
}

h4 {/*Kun on vastattu kysymyksiin senjälkeinen teksti mikä tulee näkyviin stailaus vaikka*/
    font-weight: normal;
    font-size: 24px;
    /*color: #00801A;*/
}

.question {/*Kysymysten stailaus*/
    /*padding: 0px 5px;*/
    /*text-align:center;*/
    font-weight: normal;/*teksti on normaali*/
    font-size: 26px;/*tekstin koko*/
    /*font-weight: 500;*/
      
}

/*.orange-text{ /*Luotu jotta nappulan teksti saa muutettuu oranssiksi*/
    /*color: #ff9901;/* Aluksi tein näin, vaikka riittääkin lisätä tähän kohtaan: .begin:hover, .tryAgainButton:hover, .linkbutton:hover
    
} */
.green-text {   /*Tällä sain Suosikki tekstin muutettuaa vihreäksi, indexsissä käytin sitten green-textiä*/
    color: #00801A;
    /*text-align: right; ei riitä tässä kohtaan siirtää tekstiä oikealle, loin h5{erikseen}*/
    font-size: 18px; /*Suosikkinapin suuruus*/
    /*font-weight: bold;*/
    
  }

 /*#nav{ ei tarvinutkaan suosikki napille tätä
    /*font-weight: bold; /*lihavoitu teksti*/
    /*font-size: 20px; /*tekstin koko*/
   
/*}*/

h5 {/*Tässä sain sen sitten siirettyään oikealle*/
    text-align: right;
  }

#showResult { /*tämä kohta <div id="showResult" class="resultArea"></div> indeksissä*/
    padding: 0px 5px;
    /*color: darkorange;*/
}
